* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/profession.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    overflow: hidden;
    padding: 10px 100px;
    background-color: #063342;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
}

header h2 {
    float: left;
    font-size: 28px;
}

.menu {
    float: right;
    padding: 5px 0;
}

.menu a {
    text-decoration: none;
    margin-left: 50px;
    color: white;
}

.main {
    padding: 100px;
}

.reg {
    padding: 20px 40px;
    width: 400px;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: #757566;
    margin: auto;
}

.inputbox {
    margin-bottom: 20px;
}

.reg h2 {
    margin: 0 0 20px;
    font-size: 25px;
    padding: 0;
    color: white;
    text-align: center;
    border: none;
}

.reg .inputbox input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.bottom {
    text-align: center;
    color: white;
}

.reg input[type="Submit"] {
    background: transparent;
    color: white;
    border: none;
    width: 100%;
    outline: none;
    background: blue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
}

.reg a {
    color: white;
    font-size: 14px;
}

p {
    color: red;
}