* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/profession.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    overflow: hidden;
    padding: 5px 100px 0;
    background-color: #063342;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
    position: relative;
    height: 50px;
}

header h2 {
    float: left;
    font-size: 28px;
    margin-top: 5px;
}

header img{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 280px;
    border-radius: 50%;
}

.menu {
    float: right;
    padding: 0;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    margin-left: 50px;
    color: white;
}

.main {
    padding: 50px;
}

.reg {
    padding: 20px 40px;
    width: 400px;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: #757566;
    margin: auto;
}

.inputbox {
    margin-bottom: 20px;
}

.reg h2 {
    margin: 0 0 20px;
    font-size: 25px;
    padding: 0;
    color: white;
    text-align: center;
    border: none;
}

.reg .inputbox input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background: transparent;
}

.bottom {
    text-align: center;
    color: white;
    overflow: hidden;
}

.reg input[type="Submit"] , select{
    color: white;
    border: none;
    width: 100%;
    outline: none;
    background: #2c5666;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-bottom: 10px;
    cursor: pointer;
}

label{
    color: white;
    font-size: 16px;
}

select{
    margin: 10px 0 20px;
}

.reg input[type="date"] {
    margin-bottom: 20px;
}

.reg input[type="radio"] {
    width: auto;
    margin: 10px 10px 20px;
}

span{
    color: red;
}