* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/profession.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    overflow: hidden;
    padding: 5px 100px 0;
    background-color: #063342;
    border-bottom: 1px solid white;
    color: white;
    width: 100%;
    position: relative;
    height: 50px;
}

header h2 {
    float: left;
    font-size: 28px;
    margin-top: 5px;
}

header img {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 280px;
    border-radius: 50%;
}

.menu {
    float: right;
    padding: 0;
    margin-top: 10px;
}

.menu a {
    text-decoration: none;
    margin-left: 50px;
    color: white;
}

.main {
    padding: 100px 0;
}

.reg {
    padding: 20px 20px;
    width: 90%;
    background: rgba(0, 0, 0, .7);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: white;
    margin: auto;
    min-width: 1100px;
}

.head {
    width: 100%;
    padding-bottom: 20px;
    overflow: hidden;
}

.head div {
    float: left;
    width: 50%;
}

.head .rightHead {
    text-align: right;
}

button, select, input[type="search"] {
    background-color: #2c5666;
    border: none;
    color: white;
    height: 40px;
    padding: 0 15px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
}

.delete {
    background-color: #e00707;
}

input[type="search"] {
    background-color: white;
    color: black;
}

.list {
    width: 100%;
}

table tr {
    border-bottom: solid 1px #757566;
    text-align: center;
    line-height: 2.5;
}

table th {
    font-size: 18px;
    color: whitesmoke;
}

table td {
    padding: 0 10px;
    word-break: break-all;
}

table button {
    margin: 0;
}

#welcome {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px;
}